
h1 {
  text-align: center;
}

.container {
  width: 80%;
  margin: auto;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
  width: 16%;
}

.movie a {
  text-align: center;
  text-decoration: none;
}

a:link {
  color:red;
}

a:visited {
  color: black;
}

a:hover {
  color: red;
}


.poster {
  height: 100px;
  width: 75px;
}


.detail {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: auto;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  

}

.title {
  text-align: center;
  width: 60%;
}


